<div>
    <div class="modal-header clearfix">
        <h2 class="modal-title">{{modalTitle}}</h2>
        <a ng-click="cancel();"><i class="icon close red"></i></a>
    </div>

    <div class="modal-body clearfix">
            <div class="">
                <textarea class="full-width" ng-model="newComment"></textarea>
            </div>
    </div>


    <div class="modal-footer">
        <button ng-click="cancel()" class="btn btn-default">
            Отмена
        </button>
        <button ng-click="submit()" class="btn btn-primary">
            {{submitButtonText}}
        </button>
    </div>
</div>