<div>
    <div class="modal-header clearfix">
        <h2 class="modal-title">{{modalTitle}}</h2>
        <a ng-click="cancel();"><i class="icon close red"></i></a>
    </div>

    <div class="modal-body">
            <div class="" ng-disabled="!newUser">
                <label>{{messageText}}</label>
            </div>

    </div>


    <div class="modal-footer">
        <button ng-click="cancel()" class="btn btn-default">
            Отмена
        </button>
        <button ng-click="submit()" class="btn btn-primary" ng-disabled="isInputValid()">
            {{submitButtonText}}
        </button>
    </div>
</div>