<div class="center-holder dashboard">
    <div>Пользователи</div>
    <table class="table table-striped table-hover" ng-if="isSearching == false && persons.length > 0">
        <thead>
            <tr>
                <th>Логин</th>
                <th>Админ</th>
                <th>Действителен до</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users" >
                <td>{{user.username}} </td>
                <td>{{user.isAdmin}}</td>
                <td>{{user.validUntil}}</td>
                <td><button ng-click="openSetValidUntilDialog(user.id)">Установть дату</button></td>
                <td><button ng-click="openSetPasswordDialog(user.id)">Установить пароль</button></td>
                <td><button ng-click="removeUser(user.id)">Удалить</button></td>
            </tr>
        </tbody>
    </table>
</div>