<div class="well clearfix">
    <form class="form-inline">
        <div class="form-group">
            <label>ФИО</label>
            <input class="form-control" type="text" name="name" ng-model="person.name">
        </div>
        <div class="form-group">
            <label>Город</label>
            <select class="form-control" ng-model="selectedCity.name">
                <option ng-repeat="city in cities"
                        value="{{city.city}}" ng-selected="selectedCity.name==city"> {{city.city}}
                </option>
            </select>
        </div>
        <div class="input-group">
            <label>Провайдеры</label> <br>
            <input type="checkbox" ng-model="selectedProvider.triolan">Триолан <br>
            <input type="checkbox" ng-model="selectedProvider.volya">Воля<br>
            <input type="checkbox" ng-model="selectedProvider.ks">Киевстар<br>


        </div>
        <div class="clearfix" style="margin-top: 30px;">
            <button class="btn btn-primary pull-right" ng-click="search()"   ng-disabled="!validateSearch()">Искать</button>
        </div>

    </form>

</div>

