<div class="center-holder dashboard">

    <div class="ng-include: '../pages/dashboard/search.html'"></div>

    <div ng-if="persons.length == 0 && isSearching == false">Нет записей.</div>
    <div ng-if="isSearching">Поиск...</div>

    <table class="table table-striped table-hover" ng-if="isSearching == false && persons.length > 0">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Телефон</th>
                <th>ИНН</th>
                <th>Адрес</th>
                <th>Провайдер</th>
                <th>Комментарии</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in persons" >
                <td>{{person.lastName}} {{person.firstName}} {{person.secondName}}</td>
                <td><div ng-repeat="phone in person.phones">{{phone}}</div></td>
                <td>{{person.identificationNumber}}</td>
                <td>{{person.city}}, {{person.street}} {{person.building}}, {{person.apartment}}</td>
                <td>{{person.provider}}</td>
                <td><div ng-repeat="comment in person.comments">{{comment.date | date:'yyyy-MM-dd HH:mm' }} ({{comment.user}}): {{comment.text}}</div></td>
                <td><button ng-click="openAddCommentDialog(person.id, person)">Добавить</button></td>
            </tr>
        </tbody>
    </table>
</div>