<div class="center-holder dashboard">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Телефон</th>
                <th>ИНН</th>
                <th>Адрес</th>
                <th>Провайдер</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in persons">
                <td>{{person.lastName}} {{person.firstName}} {{person.secondName}}</td>
                <td><div ng-repeat="phone in person.phones">{{phone}}</div></td>
                <td>{{person.identificationNumber}}</td>
                <td>{{person.city}}, {{person.street}} {{person.building}}, {{person.apartment}}</td>
                <td>{{person.provider}}</td>
            </tr>
        </tbody>
    </table>
</div>